<div>
  <b> View :</b>
  Table <mat-slide-toggle #toogleSlider (toggleChange)="onToggle()"></mat-slide-toggle> Cards
</div>


<section *ngIf="toogleSlider.checked" class="new-training" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">

  <!-- !mat-card can be eleveated by using mat-elevation-zXX -> 1-24 -->
  <!-- <mat-card *ngFor="let exercise of ($exercises | async)" fxFlex.xs="100%" fxFlex="300px" class="mat-elevation-z15"> -->
  <!--  <mat-card *ngFor="let exercise of exercises" fxFlex.xs="100%" fxFlex="300px" class="mat-elevation-z15">
    <mat-card-title fxLayoutAlign="center">
      Exercise : {{exercise.exerciseName}}
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">

      <table>
        <tr>
          <th>
            Duration
          </th>
          <td>
            {{exercise.exerciseDuration | number}}
          </td>
        </tr>
        <tr>
          <th>
            Calories
          </th>
          <td>
            {{exercise.caloriesBurned | number}}
          </td>
        </tr>
        <tr>
          <th>
            Date
          </th>
          <td>
            {{exercise.date | date}}
          </td>
        </tr>
      </table>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <mat-label>Status</mat-label>
      <mat-icon *ngIf="exercise.exerciseState == 'completed';else statusNotCompleted">check_circle</mat-icon>
      <ng-template #statusNotCompleted>
        <mat-icon>cancel</mat-icon>
      </ng-template>

    </mat-card-actions>

  </mat-card> -->

</section>

<div fxLayoutAlign="center center">
  <!-- fxFlex gives width of the this input filter -->
  <mat-form-field fxFlex="40%">
    <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="filter">
  </mat-form-field>
</div>


<section *ngIf="!toogleSlider.checked">

  <div class="example-container mat-elevation-z8">
    <!-- <table mat-table [dataSource]="$exercises | async" matSort> -->
    <table mat-table [dataSource]="exercises" matSort>

      <!-- exerciseId Column -->
      <ng-container matColumnDef="exerciseId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.exerciseId}} </td>
      </ng-container>

      <!-- ExerciseName Column -->
      <ng-container matColumnDef="exerciseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.exerciseName}} </td>
      </ng-container>

      <!-- ExerciseDuration Column -->
      <ng-container matColumnDef="exerciseDuration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.exerciseDuration | number}} </td>
      </ng-container>

      <!-- CaloriesBurned Column -->
      <ng-container matColumnDef="caloriesBurned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
        <td mat-cell *matCellDef="let element"> {{element.caloriesBurned | number}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>

      <!-- ExerciseState Column -->
      <ng-container matColumnDef="exerciseState">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.exerciseState}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 5, 10, 25, 100]">
    </mat-paginator>
  </div>

</section>
