<section class="new-training" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px">

  <!-- !mat-card can be eleveated by using mat-elevation-zXX -> 1-24 -->
  <mat-card fxFlex.xs="100%" fxFlex="300px" [ngClass]="{'mat-elevation-z15' : cardColor === false}" (mouseover)="cardColor=false"
    (mouseout)="cardColor=true">
    <mat-card-title fxLayoutAlign="center">
      Time to start your fintess workout
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center">

      <mat-form-field>
        <mat-select placeholder="Select your excerise" #exerciseOptionSelected>
          <!-- <mat-option [value]="'crunches'">
            Crunches
          </mat-option>
          <mat-option [value]="'sqats'">
            Sqats
          </mat-option>
          <mat-option [value]="'pushups'">
            Pushups
          </mat-option> -->
          <mat-option *ngFor="let exercise of ($exercises | async)" [value]="exercise.exerciseId">
            {{exercise.exerciseName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button [color]="'primary'" (click)="onStartNewTraning(exerciseOptionSelected.value)" type="submit">Start</button>
      <button mat-raised-button [color]="'warn'" type="submit">Cancel</button>
    </mat-card-actions>

  </mat-card>

</section>
